__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.pytest_cache/
.coverage
.coverage.*
htmlcov/

.mypy_cache/
.ruff_cache/
.pyre/

.vscode/
.idea/
*.suo
*.user

*.log
.DS_Store
Thumbs.db